.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/@cristiand391/typescript-sf-plugin/lib/*.js
!node_modules/@cristiand391/typescript-sf-plugin/package.json
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
